cx2t/src/claw/config/claw_transformation_set.xsd

<!--
 This file is released under terms of BSD license
 See LICENSE file for more information
 @author: not specified
-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!-- List of possibilities for the type of group -->
  <xs:simpleType name="group_type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="independent"/>
      <xs:enumeration value="dependent"/>
    </xs:restriction>
  </xs:simpleType>
  <!-- List of possibilities for the type of trigger -->
  <xs:simpleType name="trigger_type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="directive"/>
      <xs:enumeration value="translation_unit"/>
    </xs:restriction>
  </xs:simpleType>
  <!-- Schema from root -->
  <xs:element name="transformations">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="transformation" maxOccurs="unbounded" minOccurs="1">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="name" use="required"/>
                <xs:attribute type="group_type" name="type" use="required"/>
                <xs:attribute type="trigger_type" name="trigger" use="required"/>
                <xs:attribute type="xs:string" name="directive" use="optional"/>
                <xs:attribute type="xs:string" name="class" use="required"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="jar" use="optional"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
